:root {
  --todo-white: rgb(247, 247, 247);
  --todo-black: rgb(5, 4, 2);
  --todo-yellow: rgb(238, 255, 1);
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body,
input {
  /* font-family: segoe UI, Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.wrapper {
  background-color: var(--todo-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("/imgs/absurd.design\ -\ Chapter\ 1\ -\ 07.png");
  background-position: center;
  padding: 0 150px;
}

main {
  background-color: var(--todo-white);
  border: 2px solid var(--todo-black);
  width: 100%;
  height: auto;
  min-height: 720px;
  max-width: 600px;
  min-width: 300px;
  padding: 10px 30px;
  /* display: flex;
  flex-direction: column; */
}

#input-container {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

#texto-tarefa {
  background-color: var(--todo-white);
  color: var(--todo-black);
  border: 2px solid var(--todo-black);
  /* padding: 1px 20px; */
  height: 44px;
  /* flex-grow: 2; */
  width: 454px;
  min-width: 100px;
}

#criar-btn {
  /* background-color: rgb(248 , 248 , 248); */
  background-color: rgb(238, 255, 1);
  color: var(--todo-black);
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--todo-black);
  cursor: pointer;
  /* padding: 1px 2px; */
  height: 50px;
  font-weight: 700;
  /* margin-left: 12px; */
  /* flex-grow: 1; */
  min-width: 133px;
  caret-color: transparent;
}

#criar-btn:hover {
  background-color: var(--todo-black);
  color: var(--todo-white);
  border: 2px solid var(--todo-black);
}

h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: xx-large;
  margin-bottom: 25px;
}

#lista-tarefas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  /* padding-left: 21px; */
}

#lista-tarefas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
  text-align: left;
  margin-bottom: 5px;
  list-style: none;
}

#lista-tarefas li.dragging {
  opacity: 0.5;
}

#lista-tarefas li:hover {
  /* text-decoration: line-through var(--todo-black); */
  background-color: var(--todo-yellow);
}

#lista-tarefas button {
  background-color: var(--todo-black);
  color: var(--todo-white);
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--todo-white);
  cursor: pointer;
  width: 30px;
  height: 30px;
  caret-color: transparent;
}

.completed {
  text-decoration: line-through solid var(--todo-black);
}

#container-btn {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

#container-btn button {
  background-color: var(--todo-white);
  color: 050402;
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--todo-black);
  cursor: pointer;
  padding: 1px 2px;
  height: 50px;
  font-weight: 700;
  flex-grow: 1;
}

#container-btn button:hover {
  background-color: var(--todo-yellow);
  border: 2px solid var(--todo-black);
}

#space {
  height: 270px;
  caret-color: transparent;
}

#creditos {
  margin-bottom: 21px;
}

#creditos p {
  margin: 5px;
  margin-bottom: 0;
}

a {
  text-decoration: underline;
  color: var(--todo-black);
}

a:hover {
  text-decoration: none;
  background-color: var(--todo-yellow);
}
